/*FUENTES*/
@font-face {
  font-family: "Octosale";
  src: url("fonts/octosale-font/Octosale-LV114.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DroplineRegular";
  src: url("fonts/dropline-font/DroplineRegular-Wpegz.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wiltype";
  src: url("fonts/wiltype-font/Wiltype-9MA1y.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Octosale", "Segoe UI Emoji", sans-serif;
}

h2 {
  font-family: "DroplineRegular", "Segoe UI Emoji", sans-serif;
}


/*ACORDES*/
.song-line {
  font-family: monospace;
  /*line-height: 1.4;*/
}

.chords {
  white-space: pre;
  color: #d9534f;
}

.lyrics {
  white-space: pre;
}

